name: 'Validate PR title'

on:
  pull_request:
    branches: [ main ]

jobs:
  main:
    name: Validate PR title
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
      statuses: write
    steps:
      - uses: amannn/action-semantic-pull-request@v5.4.0
        id: validate
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Workflow Summary
        if: failure()
        run: |
          echo "### Validation Summary" >> $GITHUB_STEP_SUMMARY
          echo "- âŒ **Validate**: PR Title doesn't match conventional commit scheme!" >> $GITHUB_STEP_SUMMARY
